HelloXamarinWorld/HelloXamarinWorld.Droid/obj/
HelloXamarinWorld/HelloXamarinWorld.iOS/obj/
packages/
HelloXamarinWorld/HelloXamarinWorld/obj/
HelloXamarinWorld/HelloXamarinWorld/bin/
HelloXamarinWorld/HelloXamarinWorld.Droid/bin/
