RpiApi.MobileApp/RpiApi.MobileApp.Droid/obj/
RpiApi.MobileApp/RpiApi.MobileApp.iOS/obj/
packages/
RpiApi.MobileApp/RpiApi.MobileApp/obj/
RpiApi.MobileApp/RpiApi.MobileApp/bin/
RpiApi.MobileApp/RpiApi.MobileApp.Droid/bin/
